		#center_col { \
			margin-right: 0px; \
		} \
		#foot { \
			clear: both; \
		} \
		#fll { \
			margin: 0px auto !important; \
			padding: 19px 0px; \
		} \
		.topHolder { \
			height: 68px; \
			overflow: auto; \
			position: absolute; \
			right: 5px; \
			top: -8px; \
			width: " + Math.max(262, maxwidth - 879) + "px; \
		} \
		#mBox { \
			width: 400px; \
			margin-right: " + ( options.sideads ? 0 : 250) + "px; \
		} \
		#pBox { \
			vertical-align: middle; \
			overflow: hidden; \
			width: 400px; \
		} \
		.playing, .imgShowing { \
			position: relative; \
		} \
		.playing .embedArea { \
			height: 400px; \
		} \
		.rBox { \
			float: right; \
			text-align: center; \
		} \
		.wBBord { \
			border-bottom: 1px solid #6B90DA; \
		} \
		#setShow, .blocked { \
			display: block; \
		} \
		#vidTag, #imageTag { \
			margin: 0px; \
		} \
		#playerTag { \
			height: 20px; \
			overflow: hidden; \
		} \
		#vBox { \
			height: 305px; \
		} \
		.playimg { \
			max-width: 400px; \
			max-height: 345px; \
			border-style: none; \
		} \
		#videoList { \
			width: 180px; \
		} \
		#imageList { \
			width: 220px; \
		} \
		#ssb { \
			position: relative; \
			height: 25px; \
		} \
		#resStat { \
			display: inline; \
			position: absolute; \
			top: 1px; \
			right: 0px; \
		} \
		#resOL { \
			margin: 0px 2% 0px .1em; \
		} \
		.toLI { \
			display: list-item; \
		} \
		.reAddAd { \
			width: 100px; \
		} \
		.g { \
			margin-top: 0px; \
			min-width: 540px; \
		} \
		#dymTxt { \
			margin: 5px; \
		} \
		#ssb { \
			position: relative; \
			height: 25px; \
		} \
		#rsStats { \
			display: inline; \
			float: right; \
		} \
		#prs { \
			display: inline; \
		} \
		.vidRes { \
			width: 145px; \
			display: block; \
		} \
		.vidRes .g { \
			margin: 0px; \
			 min-width: 0px; \
			 margin-left: 1em; \
		} \
		.vidRes img { \
			width: 137px; \
			height: 97px; \
		} \
		.vrTitle { \
			margin-bottom: 30px; \
		} \
		#exvidlist { \
			width: 170px; \
		} \
		.playing #embedArea { \
			height: 340px; \
		} \
		.vid_thumb { \
			width: 140px; \
			height: 100px; \
			padding: 0px 10px; \
			border-style: none; \
			border-bottom: 1px solid #000000; \
		} \
		.vid_result { \
			font-size: 11pt; \
			border: 1px solid #000000; \
			margin: 9px; \
		} \
		.vid_result a { \
			text-decoration: none; \
		} \
		#ssb { \
			margin-bottom: 0px; \
			padding-bottom: 0px; \
		} \
		#hidePly { \
			display: none; \
		} \
		#res { \
			padding-right: 0px; \
			margin-top: 0px; \
		} \
		#wikiHeader { \
			font-size: 115%; \
			padding-left: .2em; \
		} \
		#wikiDesc { \
			font-size: 75%; \
			margin: 0px; \
			padding: .2em; \
			text-indent: 3em; \
			border-width: 1px; \
			border-style: solid; \
		} \
		#wikiDiv { \
			width: 580px; \
			margin-bottom: .5em; \
		} \
		.ts td { \
			padding: 0px 0px 0px 17px; \
		} /* "; /* End Stylesheet */
