		html, body { \
			background-color: rgb(" + options.genbgclr + "); \
			color: rgb(" + options.restxtclr + "); \
			margin: 0px; \
		} \
		.csb, .ss, #logo span, .play_icon, .mini_play_icon, .micon, .close_btn, #tbp, .mbi { \
			background-image: url(" + iconSheetTrans() + "); \
		} \
		#gbar, #guser { \
			background-color: rgb(" + options.glbarclr + "); \
			padding-top: 3px !important; \
		} \
		#guser { \
			margin-right: 0px; \
			padding-right: 8px; \
		} \
		#cnt, #leftnav, #tbd, #atd, #tsf, #hidden_modes, #hmp { \
			background-color: rgb(" + options.resltclr + "); \
		} \
		#wikiHeader a, #wikiHeader, #mBox, .detailedImgInfo, #newVer { \
			background-color: rgb(" + options.addedclr + "); \
			color: rgb(" + options.mdatxtclr + "); \
		} \
		#wikiDesc { \
			border-color: rgb(" + options.addedclr + "); \
		} \
		.embeddable { \
			background-color: rgb(" + options.plyblclr + "); \
		} \
		.embeddable a { \
			color: rgb(" + options.pbltxtclr + ") !important; \
		} \
		a:link, .w, .q:active, .q:visited, .tbotu, #fll a, #bfl a, #newVer a { \
			color: rgb(" + options.lnktxtclr + "); \
		} \
		li.g span cite { \
			color: rgb(" + options.urltxtclr + "); \
		} \
		.gl, .f, .m, .c h2, #mbEnd h2, #tads h2, .descbox, .fl, .fl a, .flt, .gl a:link, a.mblink, .mblink b { \
			color: rgb(" + options.simtxtclr + ") !important; \
		} \
		.removed { \
			display: none !important; \
		} \
		#greyOut { \
			background-color: rgb(" + options.ovrlyclr + "); \
			opacity: .6; \
			width: 100%; \
			height: 100%; \
			z-index: 1000; \
			position: fixed; \
			top: 0px; \
			left: 0px; \
		} \
		#gbLoader { \
			position: absolute; \
			top: 25px; \
			right: 3px; \
		} \
		.confLbl { \
			font-size: small; \
			display: inline; \
		} \
		.opli { \
			display: inline; \
		} \
		.confTab { \
			margin: 0px; \
			padding: 2px 4px; \
			border: 1px solid black; \
		} \
		#confWel, #styleWel { \
			border-bottom: 1px solid black; \
			font-size: 22pt; \
			font-family: serif; \
			text-align: center; \
			background-color: #F0F7F9; \
			-moz-border-radius-topleft: 5px; \
			-moz-border-radius-topright: 5px; \
		} \
		#slideShow { \
			position: fixed; \
			text-align: center; \
			padding: 15px; \
			top: 50%; \
			left: 50%; \
			z-index: 9998; \
			background-color: white; \
			border: 1px solid black; \
		} \
		.config_section_head { \
			margin: 6px 0px; \
			border-bottom: 1px solid grey; \
		} \
		#confWrap { \
			height: 427px; \
			border-bottom: 1px solid black; \
			margin-bottom: 2px; \
		} \
		.config_option { \
			margin: 2px; \
		} \
		.sldImgs { \
			display: block; \
		} \
		.keycuts { \
			width: 100%; \
		} \
		.keycuts em { \
			text-decoration: underline; \
			font-weight: bold; \
		} \
		.conf_Tab, #confTabs { \
			background-color: #F0F7F9; \
		} \
		#t_AbtConf { \
			background-color: #F0F7F9 !important; \
		} \
		#hidePly { \
			background-color: #FFFFFF; \
			color: #FF0000; \
			border-bottom: 1px solid #000000; \
			border-left: 1px solid #000000; \
			font-size: 50%; \
			position: absolute; \
			top: 0px; \
			right: 0px; \
			width: 1.1em; \
			height: 1.1em; \
			cursor: pointer; \
		} \
		#confTabs { \
			height: 19px; \
			border-bottom: 1px solid #000000; \
			position: relative; \
			margin-bottom: 3px; \
		} \
		.conf_Tab { \
			padding: 0px 0.5em .25em .5em; \
			margin-top: 4px; \
			border-bottom: 1px solid black; \
			border-right: 1px solid black; \
			display: inline; \
			z-index: 10001; \
			cursor: pointer; \
			line-height: 16px; \
		} \
		.selected_tab { \
			border-bottom-color: #FFFFFF; \
			background-color: #FFFFFF; \
		} \
		.confTabOn { \
			margin: .7em; \
		} \
		.confTabOn label { \
			margin: .2em 0px; \
		} \
		.confTabOn button { \
			margin: .5em 0px; \
		} \
		#t_AbtConf { \
			border-color: #000000 !important; \
			display: block; \
			position: absolute; \
			top: -4px; \
			right: 0px; \
			text-align: right; \
			border-right-style: none; \
			z-index: 10000; \
		} \
		#AbtConf p { \
			margin-top: 0px; \
		} \
		#deapallFault, #sNc { \
			margin-left: .2em; \
		} \
		#newVer { \
			text-align: center; \
			font-size: 90%; \
			padding: 1px; \
		} \
		#newVer a  { \
			display: block; \
		} \
		.newVerAvailable { \
			font-weight: bold; \
			font-size: 120%; \
		} \
		.GB_dialog_popup { \
			position: fixed; \
			left: 50%; \
			top: 50%; \
			width: 500px; \
			height: 520px; \
			margin-left: -250px; \
			margin-top: -260px; \
			z-index: 9999; \
			background-color: white; \
			border: 1px solid black; \
			-moz-border-radius: 5px; \
			color: #000000 !important; \
		} \
		#slideShow { \
			position: fixed; \
			text-align: center; \
			padding: 15px; \
			top: 50%; \
			left: 50%; \
			z-index: 9998; \
			background-color: #FFFFFF; \
			border: 1px solid #000000; \
		} \
		.sldImgs { \
			max-width: " + maxwidth + "px; \
			max-height: " + maxheight + "px; \
		} \
		#sldLink { \
			text-align: center; \
		} \
		#next{ \
			float: right; \
		} \
		#prev { \
			float: left; \
		} \
		#res { \
			margin: 0px 8px; \
		} \
		#cnt { \
			max-width: 100%; \
		} \
		#ssb { \
			height: auto; \
			overflow: hidden; \
		} \
		.imgSizelarge { \
			max-width: 130px; \
			max-height: 130px; \
			display: block; \
			margin: 5px auto; \
		} \
		.imgSizemedium { \
			max-width: 90px; \
			max-height: 90px; \
			display: inline-block; \
			margin: 5px; \
		} \
		.imgSizesmall { \
			max-width: 50px; \
			max-height: 50px; \
			display: inline-block; \
			margin: 5px; \
		} \
		.titleOnly, .imgDetails { \
			display: block; \
			font-size: 9pt; \
			margin: 1em; \
		} \
		.detailedImgInfo { \
			display: block; \
			text-decoration: none; \
		} \
		.conf_subsect { \
			margin-bottom: 10px; \
		} \
		.error { \
			color:#FF0000; \
		} \
		.controlIcon { \
			cursor: pointer; \
		} /* "; /* End Stylesheet */