		a, img {  \
			border-style: none; \
		} \
		#res {  \
			padding-top: 7px;  \
		} \
		#videoList { \
			border: 1px solid black;  \
			overflow: auto; \
			width: " + ( !options.imgs ? '100%' : '55%' ) + "; \
			height: auto; \
			margin-top: 1%; \
		} \
		#videoList p { \
			margin-top: 0px; \
			margin-bottom: 5px; \
			text-decoration: underline; \
		} \
		#resOL { \
			position: absolute; \
			right: 0px; \
			top: 7px; \
			width: 44%; \
			overflow: auto; \
			height: " + (!options.vids || !options.imgs ? '500px' : '300px') + "; \
		} \
		#imageList { \
			border: 1px solid black; \
			overflow: auto; \
			width: " + (!options.vids ? '100%' : '44%') + "; \
			height: " + (!options.vids ? '190px' : 'auto') + "; \
			position: " + (!options.vids ? 'static' : 'absolute') + "; \
			top: 312px; \
			right: 0px; \
			margin-top: " + (!options.vids ? '4px' : '1%') + "; \
			text-align: center; \
		} \
		#imageList img { \
			margin: " + (!options.vids ? '4px' : '1.4%') + "; \
			padding: " + (!options.vids ? '4px' : '0px') + "; \
		} \
		#pBox { \
			border: 1px solid black; \
			height: 500px; \
			text-align: center; \
			width: 55%; \
		} \
		#embedArea img { \
			max-width: 95%; \
			max-height: 95%; \
			margin-top: 1%; \
		} \
		#playerTag { \
			font-size: 16px; \
			height: 16px; \
		} \
		#controlArea { \
			height: 16px; \
		} \
		.controlIcon { \
			padding: 0px; \
		} \
		#embedArea { \
			height: " + ("468") + "px; \
		} \
		#hidePly { \
			display: none !important; \
		} \
		#wikLink { \
			float: left; \
		} \
		.removed, .rl-details, .rl-snippet, \
		.rl-short-snippet, .rl-snippet-grid-view, \
		.rl-watch-on, .rl-special, .rl-cannot-play-here { \
			display: none;  \
		} \
		#wikiHeader { \
			font-size: 115%; \
			padding-left: .2em; \
		} \
		#wikiDesc { \
			font-size: 75%; \
			margin: 0px; \
			padding: .2em; \
			text-indent: 3em; \
		} \
		#wikiDiv { \
			width: 100%; \
			margin-bottom: .5em; \
			margin-top: 1%; \
		} \
		#res { \
			padding-right: 0px; \
			position: relative; \
		} \
		.vid_result, .rl-res { \
			width: 102px; \
			margin-left: 2%; \
			margin-right: 2%; \
			display: inline-table; \
			height: auto; \
			text-align: center; \
		} \
		.thumbnail-img { \
			width: 100px; \
			height: 80px; \
		} \
		.rl-metadata, .rl-thumbnail { \
			display: block; \
			font-size: small; \
		} /* "; /* End Stylesheet */