		div.vsc, .knavi table { \
			display: block !important; \
			width: auto !important; \
		} \
		#mBox, #pBox, #videoList, #imageList, #controlArea, #embedArea { \
			border: 1px none rgb(" + options.clcbdrclr + "); \
		} \
		#center_col { \
			margin-right: 0px; \
		} \
		#foot { \
			clear: both; \
		} \
		#fll { \
			margin: 0px auto !important; \
			padding: 19px 0px; \
		} \
		.topHolder { \
			height: 68px; \
			overflow: auto; \
			position: absolute; \
			right: 5px; \
			top: -8px; \
			width: " + Math.max(262, maxwidth - 879) + "px; \
		} \
		#mBox { \
			width: 400px; \
			margin-right: " + ( options.sideads ? 0 : 250) + "px; \
			float: " + (options.clcvrthrz == 'horizontal' ? '' : 'right') + "; \
			border-style: " + (options.clcborder ? 'solid' : 'none') + "; \
			z-index: 20; \
			position: relative; \
		} \
		#pBox { \
			vertical-align: middle; \
			overflow: hidden; \
			width: 400px; \
			border-bottom-style: " + (options.clcborder ? 'solid' : 'none') + "; \
		} \
		.playing, .imgShowing { \
			position: relative; \
		} \
		.rBox { \
			float: " + (options.clcvrthrz != 'horizontal' ? 'none' : 'right') + "; \
			text-align: center; \
		} \
		.wBBord { \
			border-bottom: 1px solid #6B90DA; \
		} \
		#setShow, .blocked { \
			display: block; \
		} \
		#vidTag, #imageTag { \
			margin: 0px; \
		} \
		#playerTag { \
			height: 20px; \
			overflow: hidden; \
		} \
		#vBox { \
			height: 305px; \
		} \
		.playimg { \
			max-width: 400px; \
			max-height: 345px; \
			border-style: none; \
		} \
		#videoList { \
			width: " + (options.clcvrthrz == 'horizontal' && options.imgs ? '180px' : 'auto') + "; \
			border-right-style: " + (options.clcborder && options.clctoprht != "videos" && options.clcvrthrz == "horizontal" ? "solid" : "none") + "; \
			border-left-style: " + (options.clcborder && options.clctoprht == "videos" && options.clcvrthrz == "horizontal" ? "solid" : "none") + "; \
			border-top-style: " + (options.clcborder && options.clctoprht != "videos" && options.clcvrthrz == "vertical" ? "solid" : "none") + "; \
			border-bottom-style: " + (options.clcborder && options.clctoprht == "videos" && options.clcvrthrz == "vertical" ? "solid" : "none") + "; \
			margin-right: " + (options.clcborder && options.clctoprht != "videos" && options.clcvrthrz == "horizontal" ? "-1px" : "0px") + "; \
			margin-left: " + (options.clcborder && options.clctoprht == "videos" && options.clcvrthrz == "horizontal" ? "-1px" : "0px") + "; \
			margin-top: " + (options.clcborder && options.clctoprht != "videos" && options.clcvrthrz == "vertical" ? "-1px" : "0px") + "; \
			margin-bottom: " + (options.clcborder && options.clctoprht == "videos" && options.clcvrthrz == "vertical" ? "-1px" : "0px") + "; \
		} \
		#imageList { \
			width: " + (options.clcvrthrz == 'horizontal' && options.vids ? '219px' : 'auto') + "; \
			border-right-style: " + (options.clcborder && options.clctoprht != "images" && options.clcvrthrz == "horizontal" ? "solid" : "none") + "; \
			border-left-style: " + (options.clcborder && options.clctoprht == "images" && options.clcvrthrz == "horizontal" ? "solid" : "none") + "; \
			border-top-style: " + (options.clcborder && options.clctoprht != "images" && options.clcvrthrz == "vertical" && options.vids ? "solid" : "none") + "; \
			border-bottom-style: " + (options.clcborder && options.clctoprht == "images" && options.clcvrthrz == "vertical" ? "solid" : "none") + "; \
		} \
		#ssb { \
			position: relative; \
			height: 25px; \
		} \
		#resStat { \
			display: inline; \
			position: absolute; \
			top: 1px; \
			right: 0px; \
		} \
		#resOL { \
			margin: 0px 2% 0px .1em; \
		} \
		.toLI { \
			display: list-item; \
		} \
		.reAddAd { \
			width: 100px; \
		} \
		.g { \
			margin-top: 0px; \
			min-width: 540px; \
		} \
		#dymTxt { \
			margin: 5px; \
		} \
		#ssb { \
			position: relative; \
			height: 25px; \
		} \
		#rsStats { \
			display: inline; \
			float: right; \
		} \
		#prs { \
			display: inline; \
		} \
		.vidRes { \
			width: 145px; \
			display: block; \
		} \
		.vidRes .g { \
			margin: 0px; \
			 min-width: 0px; \
			 margin-left: 1em; \
		} \
		.vidRes img { \
			width: 137px; \
			height: 97px; \
		} \
		.vrTitle { \
			margin-bottom: 30px; \
		} \
		#exvidlist { \
			width: 170px; \
		} \
		.playing #embedArea { \
			height: 340px; \
		} \
		.playing #embedArea, .imgShowing #embedArea { \
			border-top-style: " + ((options.imgCtrl || options.vidCtrl) ? 'solid' : 'none') + "; \
		} \
		.playing #controlArea, .imgShowing #controlArea { \
			border-top-style: " + (options.clcborder && (options.imgCtrl || options.vidCtrl) ? 'solid' : 'none') + "; \
			height: 16px; \
		} \
		.playing #controlArea { \
			display: " + (options.vidCtrl ? 'block' : 'none') + "; \
		} \
		.imgShowing #controlArea { \
			display: " + (options.imgCtrl ? 'block' : 'none') + "; \
		} \
		.vid_thumb { \
			width: " + (options.clcvrthrz == 'horizontal' ? '140px' : '70px') + "; \
			height: " + (options.clcvrthrz == 'horizontal' ? '100px' : '50px') + "; \
			padding: 0px 10px; \
			border-style: none; \
			border-bottom: 1px solid #000000; \
		} \
		.vid_result { \
			font-size: 11pt; \
			border: 1px solid #000000; \
			margin: 9px; \
			display: " + (options.clcvrthrz == 'horizontal' && options.imgs ? 'block' : 'inline-block') + "; \
			width: " + (options.clcvrthrz == 'horizontal' ? '160px' : '90px') + "; \
			height: " + (options.clcvrthrz == 'horizontal' ? 'auto' : '105px') + "; \
			overflow: " + (options.clcvrthrz == 'horizontal' ? '' : 'hidden') + "; \
		} \
		.vid_result a { \
			text-decoration: none; \
		} \
		#ssb { \
			margin-bottom: 0px; \
			padding-bottom: 0px; \
		} \
		#hidePly { \
			display: none; \
		} \
		#res { \
			padding-right: 0px; \
			margin-top: 0px; \
		} \
		#wikiHeader { \
			font-size: 115%; \
			padding-left: .2em; \
		} \
		#wikiDesc { \
			font-size: 75%; \
			margin: 0px; \
			padding: .2em; \
			text-indent: 3em; \
			border-width: 1px; \
			border-style: solid; \
		} \
		#wikiDiv { \
			width: 580px; \
			margin-bottom: .5em; \
		} \
		.ts td { \
			padding: 0px 0px 0px 17px; \
		} /* "; /* End Stylesheet */
