		.colorContainer { \
			position: fixed; \
			z-index: 10001; \
			background-color: #FFFFFF; \
			padding: 8px; \
			border: 1px solid #000000; \
			-moz-border-radius: 3px; \
		} \
		.colorContainer h3 { \
			font-weight: bold; \
			font-size: 26px; \
			/*cursor: -moz-grab;*/ \
		} \
		.gb_moving { \
			cursor: -moz-grabbing; \
		} \
		.configColorBox { \
			width: 15px; \
			height: 15px; \
			border: 1px solid #000000; \
			cursor: pointer; \
			-moz-border-radius: 3px; \
		} \
		.colorToneToBlack { \
			width: 255px; \
		} \
		.colorBar { \
			width: 40px; \
		} \
		.colorToneToBlack, .colorBar { \
			position: relative; \
			vertical-align: middle; \
		} \
		.colorToneToBlack { \
			height: 255px; \
			border: 1px solid #000000; \
		} \
		.gb_colorSettings { \
			display: inline-block; \
			height: 255px; \
			text-align: center; \
			vertical-align: middle; \
			position: relative; \
		} \
		.gb_hexlabel, .gb_rgblabel { \
			display: block; \
			text-align: left; \
			position: relative; \
			padding-right: 40px; \
			margin: 5px; \
			height: 20px; \
			font-weight: bold; \
		} \
		.gb_hexlabel { \
			padding-right: 70px; \
		} \
		.gb_colorInput { \
			width: 30px; \
			position: absolute; \
			top: 0px; \
			right: 0px; \
			text-align: right; \
		} \
		.gb_hexInput { \
			width: 60px; \
			position: absolute; \
			right: 0px; \
			top: 0px; \
			text-align: right; \
		} \
		.gb_colorPreview { \
			width: 100px; \
			height: 100px; \
			border: 1px solid #000000; \
			margin: 0px auto; \
		} \
		.gb_colorBtnContainer { \
			position: absolute; \
			width: 100%; \
			bottom: 0px; \
		} /* "; /* End Stylesheet */