		body { \
			margin-bottom: 50px; \
		}  \
		a img { \
			border-style: none; \
		}  \
		.closed { \
			display: none; \
		}  \
		#fll { \
			margin: 0px auto !important; \
			padding: 19px 0px; \
		} \
		#center_col { \
			padding-left: 40px; \
			min-height: 300px; \
		} \
		#dock { \
			position: absolute; \
			width: 44px; \
			border-width: 1px; \
			border-color: rgb(" + options.dockbdrclr + "); \
			border-style: " + (options.dockborder ? "solid" : "none") + "; \
			border-left-style: none; \
			top: 0px; \
			left: 160px; \
			text-align: center; \
			background-color: rgb(" + options.dockbgclr + "); \
		}  \
		.dockLink { \
			padding: .4em 0px; \
			display: block; \
			cursor: pointer; \
		}  \
		.dockLink a { \
			text-decoration: none; \
		} \
		.topHolder { \
			height: 68px; \
			overflow: auto; \
			position: absolute; \
			right: 5px; \
			top: -8px; \
			width: " + Math.max(262, maxwidth - 879) + "px; \
		} \
		#wikiHeader { \
			font-size: 18pt; \
			padding-left: .5em; \
		}  \
		.wiki_p { \
			text-indent: 1.5em; \
		}  \
		#playerTag { \
			text-align: center; \
			margin-top: 0px; \
		}  \
		#pBox { \
			position: relative; \
			display: none; \
		}  \
		#pBox, #videoList, .imgLink img, #imageList { \
		}  \
		#playerTag, #vidTag, #imageTag { \
			text-shadow: -1px 0px #888888; \
		}  \
		.vid_result { \
			display: inline-table; \
			width: 16%; \
			margin: 10px 2%; \
			text-align: center; \
		}  \
		.vid_result img { \
			max-height: 120px; \
			max-width: 90px; \
			display: block; \
			margin: 5px auto; \
		} \
		#vBox { \
			height: 480px; \
		}  \
		.playing #embedArea { \
			height: 400px; \
		}  \
		#videoList, #imageList { \
			border-top-style: none; \
			text-align: center; \
		}  \
		.rl-domain { \
			display: block; \
		}  \
		#miniSldLink { \
			cursor: pointer; \
			float: right; \
			font-size: small; \
			padding: 2px 4px; \
			margin-top: 1px; \
			text-shadow: -1px 1px #666666; \
		}  \
		#miniSldLink:hover { \
			background-color: #FFFFFF; \
			color: #000000; \
			text-shadow: -1px 1px #CCCCCC; \
		}  \
		#imageList input { \
			display: block; \
			margin: 5px auto; \
		}  \
		.imgShowing, .playing { \
			display: block !important; \
			text-align: center; \
		} \
		.imgShowing img{ \
			max-height: 400px; \
			max-width: 85%; \
		}  \
		.imgLink { \
			margin: 1%; \
			vertical-align: middle; \
		}  \
		.imgLink img { \
			padding: 2px; \
			background-color: #555555; \
		}  \
		.imgDetails { \
			display: inline-block !important; \
		} \
		.aset { \
			display: inline !important; \
		} /* "; /* End Stylesheet */