		#pBox { \
			background-color: rgb(" + options.addedclr + "); \
			color: rgb(" + options.mdatxtclr + "); \
		} \
		a, img {  \
			border-style: none; \
		} \
		#res {  \
			padding-right: 0px; \
			position: relative; \
		} \
		#center_col { \
			margin-right: 0px; \
		} \
		#fll { \
			margin: 0px auto !important; \
			padding: 19px 0px; \
		} \
		.topHolder { \
			height: 68px; \
			overflow: auto; \
			position: absolute; \
			right: 5px; \
			top: -8px; \
			width: " + Math.max(262, maxwidth - 879) + "px; \
		} \
		#videoList { \
			border: 1px solid black; \
			border-style: " + (options.imgs && options.mdaemdpos == 'over' ? 'solid solid solid none' : options.imgs ? 'none solid solid solid' : 'solid') + "; \
			overflow-x: auto; \
			overflow-y: hidden; \
			height: " + ( !options.imgs || options.mdaemdpos == 'over' ? '490px' : '240px' ) + "; \
			padding: 5px 0px; \
			white-space: " + ( options.mdaemdpos == 'over' ? 'normal' : 'nowrap' ) + "; \
		} \
		.vid_thumb { \
			max-width: 120px; \
			max-height: 120px; \
		} \
		#videoList p { \
			margin-top: 0px; \
			margin-bottom: 5px; \
			text-decoration: underline; \
		} \
		#resOL { \
			clear: both; \
		} \
		#imageList { \
			border: 1px solid black; \
			overflow: auto; \
			height: " + ( !options.vids || options.mdaemdpos == 'over' ? '500px' : '249px' ) + "; \
			width: " + ( options.vids && options.mdaemdpos == 'over' ? '50%' : options.mdaemdpos == 'over' ? '100%' : 'auto' ) + "; \
			text-align: center; \
			float: " + ( options.mdaemdpos == 'over' ? 'left' : 'none' ) + "; \
		} \
		#imageList img { \
			margin: " + (!options.vids ? '4px' : '5px 9px') + "; \
			padding: " + (!options.vids ? '4px' : '0px') + "; \
		} \
		.imgSizelarge { \
			display: inline-block; \
		} \
		#pBox { \
			border: 1px solid black; \
			border-right-style: " + (options.mdaemdpos == 'left' ? 'none' : 'solid') + "; \
			border-left-style: " + (options.mdaemdpos == 'right' ? 'none' : 'solid') + "; \
			height: 500px; \
			text-align: center; \
			width: " + (options.mdaemdpos != 'over' ? '55%' : '100%') + "; \
			float: " + (options.mdaemdpos != 'over' ? options.mdaemdpos : 'none') + "; \
			display: " + (options.mdaemdpos == 'over' ? 'none' : 'block') + "; \
		} \
		#embedArea img { \
			max-width: 95%; \
			max-height: 95%; \
			margin-top: 1%; \
		} \
		#playerTag { \
			font-size: 16px; \
			height: 16px; \
		} \
		#controlArea { \
			height: 16px; \
		} \
		.controlIcon { \
			padding: 0px; \
		} \
		#embedArea { \
			height: 468px; \
		} \
		#hidePly { \
			display: " + (options.mdaemdpos == 'over' ? 'block' : 'none !important') + "; \
		} \
		.playing, .imgShowing { \
			display: block !important; \
			position: " + (options.mdaemdpos == 'over' ? 'absolute' : 'relative') + "; \
		} \
		.removed, .rl-details, .rl-snippet, \
		.rl-short-snippet, .rl-snippet-grid-view, \
		.rl-watch-on, .rl-special, .rl-cannot-play-here { \
			display: none;  \
		} \
		#wikiHeader { \
			font-size: 115%; \
			padding-left: .2em; \
		} \
		#wikiDesc { \
			font-size: 75%; \
			margin: 0px; \
			padding: .2em; \
			text-indent: 3em; \
		} \
		#wikiDiv { \
			width: 100%; \
			margin-bottom: .5em; \
			margin-top: 1%; \
		} \
		.vid_result, .rl-res { \
			width: 120px; \
			margin-left: 4px; \
			margin-right: 4px; \
			display: inline-table; \
			height: auto; \
			text-align: center; \
			white-space: normal; \
		} \
		.thumbnail-img { \
			width: 100px; \
			height: 80px; \
		} \
		.rl-metadata, .rl-thumbnail { \
			display: block; \
			font-size: small; \
		} /* "; /* End Stylesheet */